// Fonts
$font-primary: "Crimson", "华文楷体", sans-serif;
$font-secondary: "Crimson", "华文楷体", serif;

// Colors
$color-accent: #4859d7;
$gray-darkest: #1d1d1d;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
